
#mainpge{
    padding: 20PX;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-items: center; */
    justify-content: flex-end;
    gap: 15px;
}  

.secondryContainer{
  
    border: 1px solid black;
}

.secondryContainer img{
    width: 100%;
    height: 200px;
}

.content{
    padding: 10px;
}





h1{
    font-style: italic;
    color: maroon;
font-size: 300px;
}

p{
    border: black;
    color: indigo;
    float: right;
}


img{
    align-items: center;
    width: 200px;
    height: 200;
}

button{
   
    grid-row: span;
    color :brown;
}

body{
    background: url(https://www.freepik.com/blog/app/uploads/2021/07/autumn-background-rawpixel.jpg);
} 