
h6{
    text-align: center;
    color: black;
    margin: 100px;;
   tab-size: 200 ;
font-size: 300px;
}
img{
    width: 100px;
    height: 100;
    row-gap: normal;

}
p{
    text: size adjust 12px; ;
    color: blue;
}
button{
    margin-right: 100px;
    grid-row: span;
    color :brown;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
